<%= image_tag url_for(@asset.pictures.first) %>
<div class="card-body">
  <p>
    <i class="fas fa-map"></i> Address: <%= @asset.address %>
    <br>
    <i class="fas fa-building"></i> Type: <%= @asset.class.name.titleize %>
    <br>
    <br>
    <i class="fas fa-money-bill-alt"></i> Price: $<%= @asset.price %>
    <br>
    <%= render "#{@asset.class.name.underscore}" %>
  </p>

</div>
<%= link_to 'Buy', orders_path(kind: params[:kind], id: params[:id]), class: 'btn btn-warning', data: {turbo_method: :post, turbo_confirm: 'Are you Sure You Want to Buy This Property?'} %>
